# Byte compiled
__pycache__/
*.py[cod]

# Pip Packaging
enbyfit.egg-info/
dist/
build/

# Sphinx documentation
docs/_build
docs/conf.py
docs/index.rst
docs/make.bat
docs/Makefile
docs/_static
_
# Environments
venv

# Database
**.db

